*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.font-architects{
    font-family: 'Roboto Slab', serif;
}
.icon-success{
    color: yellow;
}/*
section{
    grid-area: formulario;
}
div iframe{
    grid-area: mapa;
}
footer{
    grid-area: footer1;
}*/
.contacto__grid{
    display: grid;
    grid-template-areas: 
    "header header"
    "formulario mapa"
    "footer1 footer1";

}
.section__titulo{
    display: flex;
    justify-content: start;
    font-family: 'Roboto slab', sans-serif;
    font-size: 16px;
    font-style: oblique;
}
.section__items{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center
}
.section__botones{
    display: flex;
    justify-content: flex-start;
    padding: 2px; 
}
div p{
    color: black;
}
.bordesredamarillos{
    border-radius: 5px;
    border: 2px solid rgba(192, 192, 45, 0.877);
}
/*mapa de ubicacion seccion contacto*/
.mapa__padre{
    display: flex;
    align-content: center;
    flex-direction: column;
}
.mapa{
    color: white;
    width: 100%;
    height: 83vh;
    background-color: rgba(0, 0, 0, 0.884);
    border-bottom: 2px solid white;
}
.mapa__titulo{
    font-size: 16px;
}
.logo__tamaño{
    width: 10%;
    animation: swing;
    animation-duration: 1s; 
}
.ediciones{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
}
.logomio {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: 0 auto;
    z-index: 9999999;
}
.ediciones2{
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    width: 100%;
    background-color: rgb(100, 100, 100) !important;
}
.nav-item{
    font-style: 'Roboto slab';
    font-size: 75%;
}
.carousel-caption{
    display: flex !important;
    height: 80% !important;
    justify-content: center !important;
    align-items: center !important;
    width: 75% !important;
}
.navbar{
    background-color: #9b9b9b;
}
.navbar-light .navbar-nav .nav-link{
    color: black !important;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: yellow !important;
}
header{
    background-color: rgb(100, 100, 100) !important;
}
.colordefondo{
    display: flex;
    width: 100%;
    background-color: rgb(49, 49, 49);
}
h4{
    color: white !important;
}
.colorfondo{
    background-color: rgb(100, 100, 100) !important;
}
.cajas {
    padding: 30px 30px;
}
.cajas .cajas-box {
    width: 100%;
    text-align: center;
    font-style: 'Roboto slab' !important;
}
.cajas .cajas-box span {
    font-size: 48px;
    line-height: 48px;
    display: block;
    font-weight: 700;
    color: rgb(66, 66, 66);
    margin-left: 80px;
    margin: auto;
    font-style: 'Roboto slab' !important;
}
.cajas .cajas-box p {
    padding: 8px 0 0 0;
    font-family: 'Roboto slab', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(66, 66, 66);
}
.section-bg {
    display: flex;
    width: 100vw;
    background-color: rgba(255, 255, 0, 0.712);
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: grey;
}
.section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #919191;
}